@if(!this.mobile){
  <app-games
  [games]="gamesBsb"
  (newItemEvent)="playersFromGames($event)"
  [mobile]="mobile"
  ></app-games>
  @if(showSelect){<app-select-position
  (newItemEvent)="playersToShow($event)"
    ></app-select-position>}

     <app-player-list
        (newItemEvent)="playerFromPlayer($event)"
        [players]="playersToFollowPersonalData"
        [position]="position"></app-player-list>
    <div class="playersWrapper">
      <h2 >{{ namePlayer }} {{position}}</h2>
      <app-player-data
      [versus]="vs"
      [team] = "team"
      [oddData] = "oddData"
      [position] = "position"
      [name] = "namePlayer"
      [odds]="playerOddsB"
      [namePlayer]="namePlayer"
      ></app-player-data>
    </div>
}

@if(this.mobile){
  <app-games
  [games]="gamesBsb"
  (newItemEvent)="playersFromGames($event)"
  [mobile]="mobile"
  ></app-games>
  @if(showSelect){<app-select-position
(newItemEvent)="playersToShow($event)"></app-select-position>}
  <app-player-list
  (newItemEvent)="playerFromPlayer($event)"
  [players]="playersToFollowPersonalData"
  [position]="position"
  [mobile]="mobile"></app-player-list>
  <app-player-data
  [versus]="vs"
  [team] = "team"
  [oddData] = "oddData"
  [position] = "position"
  [name] = "namePlayer"
  [odds]="playerOddsB"
  [namePlayer]="namePlayer"
  ></app-player-data>
}



