<app-games
[games]="gamesBsb"
(newItemEvent)="playersFromGames($event)"
></app-games>
  <div class="mainWrapper">
    <div class="playersWrapper">


      <app-player-list
        (newItemEvent)="playerFromPlayer($event)"
        [players]="playersToFollowPersonalDataHitters"
        [position]="hitter"></app-player-list>

    </div>

    <div class="playersWrapper">
      <h2 >{{ namePlayer }} {{position}}</h2>
      <app-player-data
      [team] = "team"
      [oddData] = "oddData"
      [position] = "position"
      [name] = "namePlayer"
      [odds]="playerOddsB"
      [namePlayer]="namePlayer"
      ></app-player-data>
    </div>

    <div class="playersWrapper">


      <app-player-list
        (newItemEvent)="playerFromPlayer($event)"
        [players]="playersToFollowPersonalDataPitchers"
        [position]="pitcher"></app-player-list>

    </div>
  <div>
