@if (position === "pitcher") {
<div class="oddsWrapper">
    @if (odds.strikeOuts !== undefined) {
        <app-player-stats
        [a]="odds.strikeOuts?.line"
        [market]="odds.strikeOuts?.market"
        [games]="odds.strikeOuts?.games"
        [over]="odds.strikeOuts?.overOdd"
        [under]="odds.strikeOuts?.underOdd"
        [games]="odds.strikeOuts?.games"
        [gamesVs]="odds.strikeOuts?.gamesVs"
        ></app-player-stats>
    } @if (odds.hitsAllowed !== undefined) {
      <app-player-stats
      [a]="odds.hitsAllowed?.line"
      [market]="odds.hitsAllowed?.market"
      [games]="odds.hitsAllowed?.games"
      [over]="odds.hitsAllowed?.overOdd"
      [under]="odds.hitsAllowed?.underOdd"
      [games]="odds.hitsAllowed?.games"
      [gamesVs]="odds.hitsAllowed?.gamesVs"
      ></app-player-stats>
    }

    @if (odds.baseXBolas !== undefined) {
      <app-player-stats
      [a]="odds.baseXBolas?.line"
      [market]="odds.baseXBolas?.market"
      [games]="odds.baseXBolas?.games"
      [over]="odds.baseXBolas?.overOdd"
      [under]="odds.baseXBolas?.underOdd"
      [games]="odds.baseXBolas?.games"
      [gamesVs]="odds.baseXBolas?.gamesVs"
      ></app-player-stats>
    } @if (odds.earnedRuns !== undefined) {
      <app-player-stats
      [a]="odds.earnedRuns?.line"
      [market]="odds.earnedRuns?.market"
      [games]="odds.earnedRuns?.games"
      [over]="odds.earnedRuns?.overOdd"
      [under]="odds.earnedRuns?.underOdd"
      [games]="odds.earnedRuns?.games"
      [gamesVs]="odds.earnedRuns?.gamesVs"
      ></app-player-stats>
    }
</div>
} @else if (position === "hitter") {
<div class="oddsWrapper">
  @if (odds.hits !== undefined) {
    <app-player-stats-hitter
    [stats] = "odds.hits"
    [versus]="versus">
    </app-player-stats-hitter>
  }
  @if (odds.homeRun !== undefined) {
    <app-player-stats-hitter
    [stats] = "odds.homeRun"
    [versus]="versus">
    </app-player-stats-hitter>
  }




  @if (odds.rbi !== undefined) {
    <app-player-stats-hitter
    [stats] = "odds.rbi"
    [versus]="versus">
    </app-player-stats-hitter>
  }
  @if (odds.stolenBases !== undefined) {
    <app-player-stats-hitter
    [stats] = "odds.stolenBases"
    [versus]="versus">
    </app-player-stats-hitter>
  }

  @if (odds.bb !== undefined) {
    <app-player-stats-hitter
    [stats] = "odds.bb"
    [versus]="versus">
    </app-player-stats-hitter>
  }
  @if (odds.hrr !== undefined) {
    <app-player-stats-hitter
    [stats] = "odds.hrr"
    [versus]="versus">
    </app-player-stats-hitter>
  }

  @if (odds.carreras !== undefined) {
    <app-player-stats-hitter
    [stats] = "odds.carreras"
    [versus]="versus">
    </app-player-stats-hitter>
  }
   @if (odds.sohitter !== undefined) {
    <app-player-stats-hitter
    [stats] = "odds.sohitter"
    [versus]="versus">
    </app-player-stats-hitter>
  }
</div>
}
