.oddWrapper{
  display: flex;
  margin: 10px;
  min-height: 65px;
  justify-content: center;
  align-items: center;
}
.glass{
background: rgba( 45, 85, 29, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 8.5px );
-webkit-backdrop-filter: blur( 8.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.gamesWrapper{
display: flex;
flex-direction: column;
}
.nameWrapper{
grid-area: 1 / 1 / 2 / 2;
}
.gameWrapper{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 300px;
min-height: 100px;
margin: 10px;
}
.my_class{
border-radius: 10px;
color: white;
background: rgba(21, 63, 1, 0.7);
backdrop-filter: blur(10px);
border: 1px solid rgba(133,158,118,0.25);
}

.oddsWrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px, 330px));
}
.oddsWrapper{
  flex-direction: row;
}

.oddsButton{
  margin: 10px;
  border: 1px solid;
  padding: 15px 40px;
  width: 300px;
  height: 200px;
  align-items: center;
  border-radius: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  color: white;
  width: 80%;
  background: rgba(55, 128, 35, 0.238);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.oddsButtonHitter{
  margin: 10px;
  border: 1px solid;
  padding: 15px 40px;
  width: 70px;
  height: 30px;
  border-radius: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  color: white;
  width: 80%;
  background: rgba(26, 118, 0, 0.238);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8.5px );
  -webkit-backdrop-filter: blur( 8.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}


.gamesData{
  display: flex;

}

.gamesData div {
  margin: 5px 10px;
  border: 1px solid;
  border-radius: 20px;
  min-width: 25px;
  min-height: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid rgba(133,158,118,0.40);
  border-radius: 20px;
}
